{% extends "base-boot.html" %}

{% block stuff %}
<head>
  <title>SODA Announcements</title>
</head>

<body>
{% if blog_list %}
  <div class="row">
      <dl class="dl-horizontal">
        {% for blogpost in blog_list %}
          <dt>{{blogpost.title}}</dt><dd>{{blogpost.body}}<br>{{blogpost.timestamp}}</dd>
        {% endfor %}
      </dl>
  </div>
  
{% else %}
  <div class="row" align="center">
    <div class="offset4 span4">
      <div class="alert alert-info">
        <strong>There are no announcements!</strong>
      </div>
    </div>
  </div>
{% endif %}
</body>

{% endblock stuff %}