<!DOCTYPE html>
<html>

{% block navbar %}

  <title>{% block title %} Home {% endblock %}</title>
  <p>{% block text%} Home {% endblock %}</p>
  
  <a href="{% url 'home:index' %}">
  inventory<br/>
  </a>
  
  <a href="{% url 'blog:index' %}">
  announcements<br/>
  </a>
  
  <a href="{% url 'purchase:index' %}">
  purchase<br/>
  </a>

  <a href="{% url 'chart:index' %}">
  chart<br/>
  </a>

  <br/><br/>
{% endblock navbar %}


{% block stuff %}
{% endblock stuff %}
<body>
{% block content %}
{% endblock %}
</body>
</html>
