<!DOCTYPE html>
<html lang="en">

{% block navbar %}

  <head>
    <meta charset="utf-8">
    <title>SODA Base</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/bootstrap/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/bootstrap/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../static/bootstrap/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../static/bootstrap/ico/favicon.png">
								   
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{% url 'home:index' %}">SODA</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
			  <li><a href="{% url 'blog:index' %}">Announcements</a></li>
			  <li><a href="{% url 'home:index' %}">Inventory</a></li>
              <li><a href="{% url 'purchase:index' %}">Purchase</a></li>
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Metrics <b class="caret"></b></a>
				<ul class="dropdown-menu">
				  <li><a href="{% url 'chart:type' %}">By Type</a></li>
          <li><a href="{% url 'chart:time' %}">By Time</a></li>
          <li><a href="{% url 'chart:sugar' %}">By Sugar</a></li>
				  <li class="divider"></li>
				  <!--<li><a href="#">Custom</a></li>-->
				</ul>
			  </li>
              <li><a href="{% url 'admin:index' %}">Admin</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    </div> <!-- /container -->
  </head>

  <body>

  </body>
  
{% endblock navbar %}

{% block stuff %}
{% endblock stuff %}

  <hr>
  <footer>
    <p>&copy; Soda On Demand Always 2013</p>
  </footer>
      
  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.js"></script>
  <script src="../static/bootstrap/js/bootstrap.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap-transition.js"></script>
  <script src="../static/bootstrap/js/bootstrap-alert.js"></script>
  <script src="../static/bootstrap/js/bootstrap-modal.js"></script>
  <script src="../static/bootstrap/js/bootstrap-dropdown.js"></script>
  <script src="../static/bootstrap/js/bootstrap-scrollspy.js"></script>
  <script src="../static/bootstrap/js/bootstrap-tab.js"></script>
  <script src="../static/bootstrap/js/bootstrap-tooltip.js"></script>
  <script src="../static/bootstrap/js/bootstrap-popover.js"></script>
  <script src="../static/bootstrap/js/bootstrap-button.js"></script>
  <script src="../static/bootstrap/js/bootstrap-collapse.js"></script>
  <script src="../static/bootstrap/js/bootstrap-carousel.js"></script>
  <script src="../static/bootstrap/js/bootstrap-typeahead.js"></script>
</html>
