{% extends "base-boot.html" %}

{% block stuff %}
<head>
  <title>SODA Inventory</title>
</head>

<body>
{% if machine_list %}
  <div class="row">
    <div class="span5">
      <ul>
        {% for machine in machine_list %}
        <li>{{machine.location}}
          <table class="table table-striped table-bordered table-hover">
            <tr>
              <th>Slot</th>
              <th>Soda Type</th>
              <th>Amount</th>
              <th>Cost (cents)</th>
            </tr>
            {% for inventoryslot in machine.inventoryslot_set.all %}
            <tr>
              <td>{{inventoryslot.id}}</td>
              <td>{{inventoryslot.sodaType}}</td>
              <td>{{inventoryslot.amount}}</td>
              <td>{{inventoryslot.soda_set.all.0.cost}}</td>
            </tr>
          {% endfor %}
          </table>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% else %}
  <p>No machines are available</p>
{% endif %}
</body>
{% endblock stuff %}
